
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: #333;
}

span {
  font-weight: 700;
  color: chocolate;
  font-size: 40px;
}

.container {
  margin: 50px auto;
  padding: 20px;
  width: 50%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 80%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: chocolate;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #cc6b03;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
